.App {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 cards per row */
 
   
}

.product-card {
   
    padding: 5px;
    border-radius: 90px;
  
margin-left: 60px;
margin-right: 60px;

}

.product-card h3 {
    margin-top: 0;
}

.product-card p {
    margin-bottom: 0;
}

input[type="text"],
select {
    width: 100%;
        /* Fill the available space */
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
}

input[type="text"] {
    width: 200px;
}

select {
    width: 150px;
}

.filter-dropdown {
    margin-right: 10px;
    /* Adjust spacing between dropdowns and search input */
}

.search-input {
    flex-grow: 1;
    /* Grow to fill remaining space */
}
.col-md-6 img{
    width: 50%;
        height: auto;
}
.filter-dropdown select {
    additive-symbols: grid-view-rounded;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
    /* Add margin for spacing between dropdowns */
}
.search-input {
   
    position: relative;
    margin-bottom: 20px;
}

.search-input input[type="text"] {
    width: 92%;
    padding: 10px;
    border-radius: 20px;
    /* Set border-radius to make oval shape */
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-input input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

.search-input i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}